html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

container {
    max-width: 90%;
}

.logo-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px !important;
}

.hero-nav {
    clip-path: polygon(0 0, 100% 0, 100% 75%,0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%,0 100%);
}

.hero-values {
    clip-path: polygon(0 25%, 100% 0, 100% 75%,0 100%);
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%,0 100%);
    padding: 120px 0px 120px 0px;
}

.hero-contact {
    clip-path: polygon(0 25%, 100% 0, 100% 100%,0 100%);
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%,0 100%);
    margin-top: 40px;
    padding: 120px 0px 0px 0px;
}

footer {
    background-color: #48c774 !important;
    color: #fff;
    flex-shrink: 0;
    
}

.footer-middle {
    text-align: center;
}

.footer-right {
    text-align: right;
}

#all-news {
    margin-top: 1.5em;
}

.news-listing {
    margin: 1.5em !important;
}

.news-listing .card {
    margin: 0.75em;
}

.article-content {
    flex: 1 0 auto;
}

.article-content p {
    margin-bottom: 1em;
}

section {
    padding-top: 52px;
}

.active {
    background-color: #fafafa;
    color: #3273dc;
}

.button.is-white {
    margin: 0 auto;
    color: #3273dc;
}

.arrow {
    margin: 20px;
}

.input-wrapper {
    display: none !important;
}

.auth-section {
    padding-top: 5 !important;
}

#isso-thread h4 {
    display: none !important;
}
