title: Welcome to our new website!
date: 2020-01-06 13:26
tags: 2020
image: /assets/img/2020.png
---
<p>
Happy new year everyone! All the members of Break the Borders wish
you that 2020 is a year full of happiness, health, learning and less borders.
</p>

<p>
Today we also roll-out the new design of our website. We hope you
like it! Stay in tune as this year will be full of ground breaking
projects and lot's of opportunities to learn, travel and work on the
pressing issues of our world.
</p>

<p>
You can alway use the <a href="https://breaktheborders.gr/#contact">form at the front page</a> to contact us. There is
also a <a href="https://breaktheborders.gr/feed.xml">RSS feed</a> of our news if you want to get all the latest
updates on our work.
</p>

<p>
That's all for now. We hope to see you again here.
</p>
