title: Καλωσήρθατε στη νέα μας ιστοσελίδα!
date: 2020-01-06 13:26
tags: 2020
image: /assets/img/2020.png
slug: welcome-to-our-new-website
---
<p>
Χρόνια πολλά και καλή χρονία! Όλα τα μέλη του οργανισμού σας
εύχονται το 2020 να είναι μια χρονιά γεμάτη ευτυχία, υγεία, μάθηση
και με λιγότερα σύνορα.
</p>

<p>
Σήμερα επίσης παρουσιάζουμε τη νέα έκδοση της ιστοσελίδας
μας. Ελπίζουμε να σας αρέσει! Μείνετε συντονισμένοι, καθώς η νεά
χρονιά θα είναι γεμάτη με ενδιαφέροντα προγράμματα και πολλές
ευκαιρίες για γνώση, ταξίδια και εμπειρίες πάνω σε όλα τα θέματα που
πιέζουν τον κόσμο.
</p>

<p>
Μπορείτε να επικοινωνείτε μαζί μας ανα πάσα στιγμή από τη <a href="http://breaktheborders.gr/el/#contact">φόρμα στην
αρχική σελίδα</a>. Επίσης πλέον υπάρχει και ένα <a href="http://breaktheborders.gr/el/feed.xml">RSS feed</a> για να
ενημερώνεστε άμεσα για όλες τις εξελίξεις στα project μας.
</p>

<p>
Αυτά προς στιγμήν και ελπίζουμε να σας δούμε ξανά εδώ.
</p>
